<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=tcp:team3-dbserver.database.windows.net:1433;Initial Catalog=team3-weather-db;Persist Security Info=False;User ID=team3_db_login;Password=August#22;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Trusted_Connection=true;Connection Timeout=30;"/>
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
